<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>找回密码</title>
    <link href="HOME_STATIC/css/common2.css" rel="stylesheet" type="text/css"/>
    <link href="HOME_STATIC/css/register2.css" rel="stylesheet" type="text/css"/>

    <script>
        function sendCheckCode(){
            // 获得文件框值:
            var phone = document.getElementById("phone").value;
            var span1 = document.getElementById("span1");
            if(phone == null || phone == ''){
                var string = "<b style='color:red'>请输入电话号码</b>";
                span1.innerHTML = string;


            }else{
                // 1.创建异步交互对象
                var xhr = createXmlHttp();
                // 2.设置监听
                xhr.onreadystatechange = function(){
                    if(xhr.readyState == 4){
                        if(xhr.status == 200){
                            document.getElementById("span1").innerHTML = xhr.responseText;
                        }
                    }
                }

                // 3.打开连接
                xhr.open("GET","${pageContext.request.contextPath}/user_sendCheckCode.action?phone="+phone,true);
                // 4.发送
                xhr.send(null);
            }
        }

        function createXmlHttp(){
            var xmlHttp;
            try{ // Firefox, Opera 8.0+, Safari
                xmlHttp=new XMLHttpRequest();
            }
            catch (e){
                try{// Internet Explorer
                    xmlHttp=new ActiveXObject("Msxml2.XMLHTTP");
                }
                catch (e){
                    try{
                        xmlHttp=new ActiveXObject("Microsoft.XMLHTTP");
                    }
                    catch (e){}
                }
            }

            return xmlHttp;
        }

    </script>

    <style>
        div.container {
            width: 950px;
            margin: 0px auto;
            *zoom: 1;
        }
        .header{
            height:98px;
        }
    </style>
</head>
<body background="HOME_STATIC/image/year11.jpg"  >
<div class="container header">
    <div class="span5">
        <div class="logo">
            <a href="http://localhost:8080/mango/">
                <a href="{:url('home/index/index')}"><img src="HOME_STATIC/image/dianpulogo.png" width="190px" height="46px"; alt="二号店"/></a>
            </a>
        </div>
    </div>

    <!-- 搜索框	 -->
    <div class="span9" style="width:350px; height:50px; line-height:20px;margin-top:13px;text-align:center;">
    </div>


</div>

<div class="container register">
    <div class="span24" style="background-color:white">
        <div class="wrap">
            <div class="main clearfix">
                <div class="title">
                    <strong>找回密码</strong>USER REGISTER
                </div>
                <div>
                    <s:actionerror />
                </div>
                <form id="registerForm" action="#"  method="post" novalidate="novalidate">
                <table>
                    <tbody>
                    <input type="hidden" name="uid" value='${uid}'>

                    <tr>
                        <th>
                            新密码:
                        </th>
                        <td>
                            <input type="text" id="phone" name="newpass" class="text"  />

                        </td>
                    </tr>


                    <tr>
                        <th>&nbsp;

                        </th>
                        <td>
                            <input type="submit" class="submit" value="提交">
                        </td>
                    </tr>


                    </tbody></table>
                <div class="login">
                    <div class="ad">
                        <dl>
                            <dt>
                                注册即享受
                            </dt>
                            <dd>
                                正品保障、正规发票
                            </dd>
                            <dd>
                                货到付款、会员服务
                            </dd>
                            <dd>
                                自由退换、售后上门
                            </dd>
                        </dl>
                    </div>
                    <dl>
                        <dt>已经拥有账号了？</dt>
                        <dd>
                            立即登录即可体验在线购物！
                            <a href="./会员登录.htm">立即登录</a>
                        </dd>
                    </dl>
                </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="container footer">
    <div class="span24">
        <div class="footerAd">
            <img src="HOME_STATIC//image/footer.jpg" width="950" height="52" alt="我们的优势" title="我们的优势">
        </div>	</div>
    <div class="span24">
        <ul class="bottomNav">
            <li>
                <a >关于我们</a>
                |
            </li>
            <li>
                <a >联系我们</a>
                |
            </li>
            <li>
                <a >招贤纳士</a>
                |
            </li>
            <li>
                <a>法律声明</a>
                |
            </li>
            <li>
                <a >友情链接</a>
                |
            </li>
            <li>
                <a  target="_blank">支付方式</a>
                |
            </li>
            <li>
                <a  target="_blank">配送方式</a>
                |
            </li>
            <li>
                <a>服务声明</a>
                |
            </li>
            <li>
                <a >广告声明</a>

            </li>
        </ul>
    </div>
    <div class="span24">
        <div class="copyright">Copyright © 2005-2015 网上商城 版权所有</div>
    </div>
</div>
<div id="_my97DP" style="position: absolute; top: -1970px; left: -1970px;"><iframe style="width: 190px; height: 191px;" src="./会员注册 - Powered By Mango Team_files/My97DatePicker.htm" frameborder="0" border="0" scrolling="no">
</iframe>
</div>
</body>


</html>