<div class="span9" style="width:350px; height:50px; line-height:20px;margin-top:13px;text-align:center;">
    <form action="{:url('product/search')}" method="post">
        <input type="text" style="width:278px; height:40px;"  name="search" id="search"  onmouseover="this.style.borderColor='#F3B67F';this.style.backgroundColor='#F3B67F'" style="width: 106; height: 21" onmouseout="this.style.borderColor='#F3B67F';this.style.backgroundColor='#ffffff'" style="border:1px solid black" />
        <input type="submit" name="submit" id="submit" value="搜索" style="font-family:楷体;height:40px;font-weight:bold;font-size:20px;color:#ed8c35"/>
    </form>
</div>