<!--包含头部文件-->
{include file="public/header" /}
<body>
<div class="page-container">
	<form class="form form-horizontal form-o2o-add" id="form-o2o-add" method="post" action="{:url('user/editflag')}">
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>违规描述：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="hidden" class="input-text" value="{$data['userid']}" placeholder="" id="userid" name="userid">
				<input style="width: 500px;height: 150px;" value="{$data['desc']}" readonly="readonly" required="required" name="desc" id="desc">
				</input>
			</div>
		</div>


		<div class="row cl">
			<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-2">
				<button  type="submit" class="btn btn-primary radius" ><i class="Hui-iconfont">&#xe632;</i> 确定恢复正常</button>

				<button onClick="layer_close();" class="btn btn-default radius" type="button">&nbsp;&nbsp;取消&nbsp;&nbsp;</button>
			</div>
		</div>
	</form>
</div>
</div>
<!--包含头部文件-->
<script>
	/*var SCOPE = {
	    'url' : "{:url('Category/getSonCatsByCatid')}"
	}*/

</script>
{include file="public/footer" /}
